/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0f0f0;
}

.clock {
  width: 100px;
  height: 100px;
  background: white;
  border: 2px solid black;
  position: relative;
}

/* Clock hand - rotates from left edge */
.hand {
  width: 50px;
  height: 4px;
  background: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: left center;
  transform: rotate(45deg);
}
